<section class="section section-lg text-center">
  <div class="container">
    <h3>Статистика</h3>
    <p><span class="text-width-1">Кафедра інформаційних технологій проектування є випускаючою і організовує підготовку в університеті ХАІ бакалаврів за напрямом навчання «Комп'ютерні науки»
      та магістрів (фахівців) за фахом «Інформаційні технології проектування». Освітнього рівня "бакалавр" студент досягає після 4-х років навчання і успішного захисту випускної роботи
      бакалавра. Йому присвоюється кваліфікація "Спеціаліст з розробки та тестування програмного забезпечення" ( «Спеціаліст з інформаційних технологій») і видається диплом про
      отримання першого ступеня вищої освіти.</span>
    </p>
    <div class="row row-50 offset-top-6">
      <div class="col-6 col-md-3">
        <!-- Counter Minimal-->
        <article class="counter-minimal">
          <div class="counter-minimal-icon"><img src="https://img.icons8.com/carbon-copy/50/000000/guarantee.png">
          </div>
          <div class="counter-minimal-main">
            <div class="counter">97</div>
            <span>%</span>
          </div>
          <h5 class="counter-minimal-title">Випускників</h5>
        </article>
      </div>
      <div class="col-6 col-md-3">
        <!-- Counter Minimal-->
        <article class="counter-minimal">
          <div class="counter-minimal-icon "><img src="https://img.icons8.com/ios/50/000000/for-experienced.png"></div>
          <div class="counter-minimal-main">
            <div class="counter">20</div>
            <span>+</span>
          </div>
          <h5 class="counter-minimal-title">Сертифіковані викладачі</h5>
        </article>
      </div>
      <div class="col-6 col-md-3">
        <!-- Counter Minimal-->
        <article class="counter-minimal">
          <div class="counter-minimal-icon"><img src="https://img.icons8.com/ios-glyphs/50/000000/university-campus.png"></div>
          <div class="counter-minimal-main">
            <div class="counter">6</div>
          </div>
          <h5 class="counter-minimal-title">Факультетів в Університеті</h5>
        </article>
      </div>
      <div class="col-6 col-md-3">
        <!-- Counter Minimal-->
        <article class="counter-minimal">
          <div class="counter-minimal-icon"><img src="https://img.icons8.com/ios/50/000000/students-filled.png"></div>
          <div class="counter-minimal-main">
            <div class="counter">6</div>
            <span>k+</span>
          </div>
          <h5 class="counter-minimal-title">Студентів в університеті</h5>
        </article>
      </div>
    </div>
  </div>
</section>