<%= render 'welcome/carousel' %>

<!-- Marketing messaging and featurettes
 ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">


  <%= render 'welcome/specializations' %>

  <!-- START THE FEATURETTES -->

  <%= render 'welcome/futures' %>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


