<div class="container">
  <div class="row">
    <% @specialties.each do |specialty| %>
      <div class="col-lg-4">

        <%= image_tag specialty.image.url(:thumb) , class: 'rounded-top', :width => 'auto', :height =>'300' %>
        <h2><%= link_to specialty.name, specialty_path(specialty) %></h2>
        <p><%= specialty.description %></p>
      </div>
    <% end %>
  </div>
</div>