
<div class="container">
  <div class="row">
    <% @specialties.each do |specialty| %>
      <div class="col-lg-4">
        <img class="rounded-top" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="auto" height="300">
        <h2><%= specialty.name %></h2>
        <p><%= specialty.description %></p>
        <%= link_to 'View details', specialty_path(specialty), :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>