<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <img class="rounded-top" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="auto" height="300">
      <h2><%= @specialty.name %></h2>
      <p><%= @specialty.description %></p>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->
  <%= link_to t('common.back'), :back, :class => 'btn btn-outline-secondary' %>
</div>