<div class="container">
  <% @education_programs.each do |e| %>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted"><%= link_to e.name, education_program_path(e) %>.</span>
        </h2>
        <p class="lead"><%= e.description %>.</p>
      </div>
    </div>

  <% end %>
</div>
<hr class="featurette-divider">