<div class="container">
  <div class="row">
    <% @teachers.each do |t| %>
      <div class="col-lg-4">
        <div class="card" style="width: 18rem; margin: 10px 0;">
          <img src="<%= t.photo %>" class="card-img-top" alt="<% t.photo %>">
          <div class="card-body">
            <h5 class="card-title"><%= t.lastname + ' ' + t.name + ' ' + t.patronymic %></h5>
            <p class="card-text"><%= t.position %></p>
            <%= link_to I18n.t('more'), teacher_path(t), :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>