<!-- A Few Words About Us-->
<section class="section section-lg">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
      <div class="col-md-10 col-lg-6 col-xl-5">
        <h3 class="wow-outer"><span class="wow slideInDown"><%= I18n.t('few_word_about') %></span></h3>
        <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".05s">Вітаємо вас на тестовому сайті факультету №1 Національного аерокосмічного університету ім. Н.Є. Жуковського "ХАІ" - факультету літакобудування! Ми раді, що Ви відвідали цей ресурс і сподіваємося, що представлена на ньому інформація буде корисною.</span></p>
        <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".1s"></span>На нашому сайті Ви зможете знайти відомості про факультет, складових його кафедрах і професорсько-викладацький склад та багато іншої інформації, крім того, ми постаралися зробити цей сайт цікавим не тільки для студентів, а й для всіх відвідувачів.
        </p>
        <div class="wow-outer button-outer"><%= link_to I18n.t('more'), root_path, :class => "button button-lg button-primary button-winona wow slideInDown", :attribute => "data-wow-delay=.1s"%></div>
      </div>
      <div class="col-md-10 col-lg-6 wow-outer"><img class="img-responsive wow slideInLeft" src="images/footer_gallery.jpg" alt="" width="570" height="368"/>
      </div>
    </div>
  </div>
</section>
<!-- Small Features-->
<section class="section section-lg bg-gray-100">
  <div class="container">
    <div class="row row-30">
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Minimal-->
        <article class="box-minimal">
          <div class="box-minimal-icon wow fadeIn"><img src="https://img.icons8.com/carbon-copy/100/000000/guarantee.png"></div>
          <div class="box-minimal-main wow-outer">
            <h4 class="box-minimal-title wow slideInDown">Сертифіковані викладачі</h4>
            <p class="wow fadeInUpSmall">Наша команда складається з понад 20 кваліфікованих і досвідчених викладачів і професорів, готових допомогти нашим студентам з будь-яким завданням.</p>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Minimal-->
        <article class="box-minimal">
          <div class="box-minimal-icon wow fadeIn" data-wow-delay=".1s"><img src="https://img.icons8.com/material-rounded/40/000000/bot.png"></div>
          <div class="box-minimal-main wow-outer">
            <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".1s">Пропоновані програми</h4>
            <p class="wow fadeInUpSmall" data-wow-delay=".1s">Ми пропонуємо нашим студентам багато програм і курсів, багато з яких створені виключно для кожної спеціальності.</p>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Minimal-->
        <article class="box-minimal">
          <div class="box-minimal-icon wow fadeIn" data-wow-delay=".2s"><img src="https://img.icons8.com/cotton/64/000000/books-1.png"></div>
          <div class="box-minimal-main wow-outer">
            <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".2s">Велика бібліотека</h4>
            <p class="wow fadeInUpSmall" data-wow-delay=".2s">Всі наші студенти можуть вільно використовуватися бібліотекою університету з більш ніж 2000 освітніми ресурсами, щоб допомогти їм у дослідженні.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>