<header class="header">
  <div class="header-top">
    <div class="wrapper">
      <div class="logo-mobile">
				
						<span>
							<img src="/assets/cache/images/c8955d21148dcf1ee8b0c4935eaa35a4.png" alt="logo">
						</span>
      </div>
      <div class="header-top-left">
        <div class="header-top-left-inner">
          <div class="header-top-menu">

            <a href="#" class="calendar" title="Календар">
              <svg class="svg-icon calendar">
                <use xlink:href="#calendar"></use>
              </svg>
              <span>Календар</span>
            </a>

            <a href="https://profkomstud.khai.edu/Schedule/Group" target="_blank" class="shedule" title="Розклад занять">
              <svg class="svg-icon bell">
                <use xlink:href="#bell"></use>
              </svg>
              <span>Розклад занять</span>
            </a>
            <div class="lang langs-trigger">
              <svg class="svg-icon earth-globe">
                <use xlink:href="#earth-globe"></use>
              </svg>
              <span>UKR</span>
              <div class="lang-list">
                <div class="lang-list-item">
                  <a href="#">EN</a>
                </div>
                <div class="lang-list-item">
                  <a href="#">RU</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header-top-links">
            <a href="https://www.instagram.com/aerospaceuniversity/" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/aerospaceuniversity" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/channel/UCCEZWQqN-7IO1t343VCT1oQ" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="header-top-feeds">
          <a href="tel:0577884000" title="Телефон: (057) 788-40-00
">
            <svg class="svg-icon telephone">
              <use xlink:href="#telephone"></use>
            </svg>
            <span>Телефон: (057) 788-40-00
</span>
          </a>
          <a href="tel:0577884009" title="Телефон: (057) 788-40-09">
            <span>(057) 788-40-09</span>
          </a>
          <a href="mailto:khai@khai.edu" title="E-mail: khai@khai.edu">
            <svg class="svg-icon envelope">
              <use xlink:href="#envelope"></use>
            </svg>
            <span>E-mail: khai@khai.edu</span>
          </a>
        </div>
      </div>
      <div class="header-top-search">
        <form action="#" class="header-top-search-form" method="GET">
          <input type="text" placeholder="Пошук" name="s">
          <input type="submit">
        </form>
      </div>
      <span class="mob-menu-trigger"></span>
    </div>
  </div>
  <div class="header-bottom">
    <div class="wrapper">
      <div class="logo">
				
						<span>
							<img src="/assets/cache/images/c8955d21148dcf1ee8b0c4935eaa35a4.png" alt="logo">
						</span>
      </div>
      <nav class="main-menu">
        <div class="menu-tirgger"><i class="fa fa-bars"></i>
        </div>
        <ul class="chapters">
          <li class="full">
            <a href="">
              <span>Університет</span>
              <i class="icon arrow-down"></i>
            </a>
            <ul class="sub">
              <li><a href="#">Університет сьогодні</a></li>
              <li><a href="#">Історія</a></li>
              <li><a href="#">Керівництво</a></li>
              <li><a href="#">Вчена рада</a></li>
              <li><a href="#"></a></li>
            </ul>
          </li>
          <li class="full">

          </li>
          <li class="full">
            <a href="#">
              <span>Студенту</span>
              <i class="icon arrow-down"></i>
            </a>
            <ul class="sub">
              <li><a href="#">Студмістечко</a></li>
              <li><a href="#">Самодіяльність</a></li>
              <li><a href="#">Профком студентів ХАІ</a></li>
            </ul>
          </li>
          <li class="full">
            <a href="">
              <span>Наука</span>
              <i class="icon arrow-down"></i>
            </a>
            <ul class="sub">
              <li><a href="#">Науково-дослідна частина</a></li>
              <li><a href="#">Спеціалізовані ради</a></li>
              <li><a href="#">Аспірантура та докторантура</a></li>
              <li><a href="#">Наукові видання</a></li>
              <li><a href="http://old.khai.edu/csp/nauchportal/WEBFORM.NauchnRazrabKHAI.cls">Наукові розробки</a></li>
              <li><a href="#">Конференції</a></li>
            </ul>
          </li>
          <li class="full">
            <a href="#">
              <span>International students</span>
              <i class="icon arrow-down"></i>
            </a>
            <ul class="sub">
              <li><a href="#">About NAU KhAI</a></li>
              <li><a href="#">Programs NAU KhAI</a></li>
              <li><a href="#">Admission</a></li>
              <li><a href="#">University Life</a></li>
              <li><a href="#">International relations</a>
              </li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Tuition Fees</a></li>
              <li><a href="#">Photo gallery -
                campus life</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span>Контакти</span>

            </a>

          </li>
        </ul>
      </nav>
      <div class="header-top-left">
        <div class="header-top-left-inner">
          <div class="header-top-menu">

            <a href="#" class="calendar" title="Календар">
              <svg class="svg-icon calendar">
                <use xlink:href="#calendar"></use>
              </svg>
              <span>Календар</span>
            </a>


            <a href="https://profkomstud.khai.edu/Schedule/Group" target="_blank" class="shedule" title="Розклад занять">
              <svg class="svg-icon bell">
                <use xlink:href="#bell"></use>
              </svg>
              <span>Розклад занять</span>
            </a>
            <div class="lang langs-trigger">
              <svg class="svg-icon earth-globe">
                <use xlink:href="#earth-globe"></use>
              </svg>
              <span>UKR</span>
              <div class="lang-list">
                <div class="lang-list-item">
                  <a href="#">EN</a>
                </div>
                <div class="lang-list-item">
                  <a href="#">RU</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-top-feeds">
          <span>Зворотній зв'язок</span>
          <a href="tel:0577884000" title="Телефон: (057) 788-40-00
">
            <svg class="svg-icon telephone">
              <use xlink:href="#telephone"></use>
            </svg>
            <span>Телефон: (057) 788-40-00
</span>
          </a>
          <a href="mailto:khai@khai.edu" title="E-mail: khai@khai.edu">
            <svg class="svg-icon envelope">
              <use xlink:href="#envelope"></use>
            </svg>
            <span>E-mail: khai@khai.edu</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>